# Removing Indices in Pandas

This notebook demonstrates how to handle indices when working with Pandas DataFrames, specifically how to avoid writing them to CSV files or displaying them.

In [ ]:
df = pd.read_csv('SP500_FUND_A_16052019.csv', index_col=0)
df.head()

,v1,ticker,date,year,month,day,fyear,fmonth,ass_c_y,ass_nc_y,...,rat_y,rev_r_d_y,rev_s_g_a_y,roic_y,turn_acc_pay_y,turn_acc_rec_y,turn_inv_y,wrk_cap_y,fyearold,n2
0,1,a,2007-10-31,2007,10,31,2007,10,3.671000e+09,3.883000e+09,...,2.207,0.1264,0.3137,0.1490,4.1255,7.5964,8.5354,2.008000e+09,2007,1
1,2,a,2008-10-31,2008,10,31,2008,10,3.182000e+09,3.825000e+09,...,2.392,0.1219,0.2939,0.1864,4.6941,7.6731,8.9589,1.852000e+09,2008,1
2,3,a,2009-10-31,2009,10,31,2009,10,3.961000e+09,3.651000e+09,...,3.527,0.1433,0.3577,0.0121,3.7951,6.5656,7.4808,2.838000e+09,2009,1
3,4,a,2010-10-31,2010,10,31,2010,10,6.169000e+09,3.527000e+09,...,2.001,0.1124,0.3218,0.0905,3.9107,7.4372,8.5868,3.086000e+09,2010,1
4,5,a,2011-10-31,2011,10,31,2011,10,5.569000e+09,3.488000e+09,...,3.032,0.0981,0.2735,0.1700,3.5592,7.6518,8.1970,3.732000e+09,2011,1